################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCFilmi/MVCFilmi/Content
/MVCFilmi/.vs/MVCFilmi
/MVCFilmi/MVCFilmi/bin
